# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
eggs/
.eggs/
*.egg-info/
*.egg
MANIFEST
sdist/
wheels/
share/python-wheels/
.installed.cfg

# UV
uv.lock

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml

# Environments
.env
.venv
env/
venv/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre / pytype
.pyre/
.pytype/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Cython debug symbols
cython_debug/
